<!--Custom header
    https://blowfish.page/docs/partials/#head-and-footer
-->
<!--bootstrap-grid-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-grid.min.css" integrity="sha512-dOjUSaLkr6G2pwQ7ry9juX+iXw5602zg1kg8yH+guR3uSEidGyCnOEQnGlr7xwu/8WE+pVm1ZNqaIs5ETTIJQg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /*FORCE FIX: showTableOfContents = true*/
    .order-first{order:-9999 !important;}
    .lg\:order-last{order:9999 !important;}
</style>