<!--Custom header
    https://blowfish.page/docs/partials/#head-and-footer
-->
<!--bootstrap-grid-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap-grid.min.css" integrity="sha512-79vX0oXpL1ee3k+V7jJxmmT+xdb7UrE7Fce5RYu3/l1oO/EWaMGEjDDObLXe2JSrDZtoRntVv0Iolv6i4TDWKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /*FORCE FIX: showTableOfContents = true*/
    .order-first{order:-9999 !important;}
    .lg\:order-last{order:9999 !important;}
</style>